body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: #f4f1ea;
}

/* Background image */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      rgba(30, 60, 50, 0.35),
      rgba(30, 60, 50, 0.35)
    ),
    url("background.jpg") center 35%/cover no-repeat;
  filter: blur(1.5px);
  z-index: -2;
}

/* Vignette */
body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0.25) 100%
  );
  z-index: -1;
}

.container {
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 16px 18px;
}


h1 {
  font-size: 44px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f4f1ea;
}

.line {
  width: 80px;
  height: 3px;
  background: rgba(244, 241, 234, 0.85);
  margin: 20px auto;
}

p {
  font-size: 18px;
  color: #e8efe9;
}
