body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2f5d50;
  position: relative;
  overflow: hidden;
}

/* Background image */
body::before {
  content: "";
  position: absolute;
  inset: 0;
background:
  linear-gradient(
    rgba(30, 60, 50, 0.35),
    rgba(30, 60, 50, 0.35)
  ),
  url("background.jpg") center 40%/cover no-repeat;

filter: blur(1.5px);
z-index: -1;

  body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0.25) 100%
  );
  z-index: -1;
}

.container {
  max-width: 600px;
  margin-top: 8vh;
}

h1 {
  font-size: 44px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f4f1ea;
}

.line {
  width: 80px;
  height: 3px;
  background: #2f5d50;
  margin: 20px auto;
}

p {
  font-size: 18px;
  color: #e8efe9;
}
